{% extends 'base.html.twig' %}
{% block title %}
    Votre météo !
{% endblock %}

{% block body %}
<div class="jumbotron text-center">
    <h1>  bienvenue dans notre super agence</h1>
    <p>ici vous trouverez votre compte</p>
</div>
     <div class="container">
         
         <div class="row flex">
            
         </div>
         {{ render_chart(chart) }}
     </div>

{% endblock %}
